# OS Metadata
.DS_Store
Thumbs.db

# Editor/IDE Folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies (if you use them later)
node_modules/
dist/

# Environment/Secrets
.env